.menubutton {
    background-color: #73ff00; /* Blue background */
    color: white; /* White text */
    border: none; /* Remove default border */
    padding: 10px 20px; /* Add some padding */
    font-size: 16px; /* Increase font size */
    cursor: pointer; /* Change cursor to pointer */
    border-radius: 5px; /* Rounded corners */
    margin-right: 10px; /* Add some space between buttons */
    margin-left: 10px; /* Add some space between buttons */
    transition: background-color 0.3s; /* Smooth transition for background color */
}

.menubutton:hover {
    background-color: #fff700; /* Darker blue on hover */
}

.menubutton:active {
    background-color: #004085; /* Even darker blue on click */
}