<div>Mapping Project

    <div id="map"></div>

    <div class="Block">
        <label id="lbl">Code </label>
        <input type='file' (change)="fileChanged($event)">
      
      </div>
    <button type="button" class="btn btn-primary" 
    (click)="drawGpx()">Upload File</button>  
    <button type="button" class="btn btn-primary" 
    (click)="parseGPX()">Parse GPX</button>
    <button type="button" class="btn btn-primary" 
    (click)="parseFIT()">Parse FIT</button>
    <ul>Max Elevation: {{this.maxElevation}} ft</ul>
    <ul>Total Distance: {{this.totalDistance}} miles</ul>

</div>
