<div>This is a test

    <div id="map"></div>

    <div class="Block">
        <label id="lbl">GPX </label>
        <input type='file' (change)="fileChanged($event, 'gpx')">
        <label id="lbl">Fit </label>
        <input type='file' (change)="fileChanged($event, 'fit')">

      
      </div>
    <button type="button" class="btn btn-primary" 
    (click)="drawGpx()">Upload File</button>  
    <button type="button" class="btn btn-primary" 
    (click)="parseGPX()">Parse GPX</button>
    <button type="button" class="btn btn-primary" 
    (click)="parseFIT()">Parse FIT</button>
    <ul>Max Elevation: {{this.maxElevation}} feet</ul>
    <ul>Total Distance: {{this.totalDistance}} miles</ul>
    <ul>Total Elevation Gain: {{this.cumulativeElevationGain}} feet</ul>
    <ul>Total Calories: {{this.totalCalories}} calories</ul>


</div>
